@import '../../css/variables';

main.players {

  margin-top: $header-height-padded + $padding;

  div.playerWrapper {
    margin: 0 auto;
    width: 50%;

    ul {
      li {
        height: 50px;
        border-radius: 25px;
        background: #9E9E9E;
        padding: $padding;
        margin: $padding 0;
      }
    }
  }

}