@import '../../../css/variables';
@import 'sector/sector';

section.map {
  position: relative;
  top: $header-height-padded + $sub-header-height-padded;
  padding: $padding / 2;
  margin: ($padding * 2) 0;

  .row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row:nth-child(even) {
    margin-left: 60px;
  }
}