@import 'mixins';

$darismo: #00401E;
$wesslan: #991115;
$mithram: #D4D3A3;
$cubic: #1E7332;
$gizmoZonic: #6A0002;

.sector {
  &.Darismo {
    @include player($darismo);
  }

  &.Wesslan {
    @include player($wesslan);
  }

  &.Mithram {
    @include player($mithram);
  }

  &.Cubic {
    @include player($cubic);
  }

  &.GizmoZonic {
    @include player($gizmoZonic);
  }
}

.player {
  &.Darismo {
    background-color: $darismo;

    &:hover {
      background: lighten( $darismo, 10% );
    }
  }

  &.Wesslan {
    background-color: $wesslan;

    &:hover {
      background: lighten( $wesslan, 10% );
    }
  }

  &.Mithram {
    background-color: $mithram;

    &:hover {
      background: lighten( $mithram, 10% );
    }
  }

  &.Cubic {
    background-color: $cubic;

    &:hover {
      background: lighten( $cubic, 10% );
    }
  }

  &.GizmoZonic {
    background-color: $gizmoZonic;

    &:hover {
      background: lighten( $gizmoZonic, 10% );
    }
  }
}

span.emblem, i.emblem  {
  &.Darismo {
    background: url("images/darkangel.png") no-repeat;
  }

  &.Wesslan {
    background: url("images/chaos1.png") no-repeat;
  }

  &.Mithram {
    background: url("images/tyranids.png") no-repeat;
  }

  &.Cubic {
    background: url("images/tau.png") no-repeat;
  }

  &.GizmoZonic {
    background: url("images/chaos2.png") no-repeat;
  }
}

span.standingsPlayer {
  .emblem {
    &.Darismo {
      background: $darismo url("images/darkangel.png") no-repeat;
    }

    &.Wesslan {
      background: $wesslan url("images/chaos1.png") no-repeat;
    }

    &.Mithram {
      background: $mithram url("images/tyranids.png") no-repeat;
    }

    &.Cubic {
      background: $cubic url("images/tau.png") no-repeat;
    }

    &.GizmoZonic {
      background: $gizmoZonic url("images/chaos2.png") no-repeat;
    }
  }
}