$padding: 32px;
$header-height: 32px;
$header-height-padded: 32px + $padding;
$sub-header-height: 16px;
$sub-header-height-padded: 16px + ($padding / 4);

$color-light-5: #FAFAFA;
$color-light-4: #F5F5F5;
$color-light-3: #EEEEEE;
$color-light-2: #E0E0E0;
$color-light-1: #BDBDBD;
$color-main: #9E9E9E;
$color-dark-1: #757575;
$color-dark-2: #616161;
$color-dark-3: #424242;
$color-dark-4: #212121;