@mixin player($color) {
  background: $color;

  &:hover {
    background: lighten( $color, 10% );
  }

  &:before {
    border-bottom-color: $color;
  }

  &:after {
    border-top-color: $color;
  }

  &:hover:after {
    border-top-color: lighten( $color, 10% );
  }

  &:hover:before {
    border-bottom-color: lighten( $color, 10% );
  }
}