@import '../../css/variables';

section.battleReport {
  form#battleReportForm {
    .formItem {
      padding: $padding / 4;
    }

    .pointItem {
      padding: 0 $padding;
    }
  }
  div.optionalForm {
    &.hidden {
      display: none;
    }
  }
}